*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
header{
    background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
    width: 100%;
    height: 100vh;
    border-bottom-right-radius: 300px;
}
.nav-box1 strong{
    font-size:15px;
    font-weight: 900;
    color: white;
    line-height: 24px;
    letter-spacing: 1.5px;
    opacity: 0.8;
}
.nav-box p i{
    font-size: 12px;
    margin-left: 5px;
}
.nav-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-box{
    color: #FFFFFF;
    cursor: pointer;
}
.nav-box1{
    margin-right: 250px;
    cursor: pointer;
}
.nav-box2{
    margin-left: 210px; 
    border-radius: 50px;
    border: 1.5px solid #FFFFFF;
    transition: .5s;
}
.nav-box2 a{
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
    line-height: 24px;
    letter-spacing: -0.1599999964237213px;
    height: 40px;
    padding-top: 7px;
    width: 150px;
    text-align: center;
    color: aliceblue;
}
.nav-box2:hover{
    background: white;
    transition: .5s;
}
.nav-box2 a:hover{
    color: black;
    transition: .5s;
}
.noviy{
    position: relative;
}
nav .container{
    padding-top: 20px;
}
.noviy:hover .noviy-all{
    display: block;
}
.noviy-all{
    display: none;
    color: blue;
    background-color: #0099ff;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}
.prosto{
    position: absolute;
    padding-top: 10px; 
    right:6%;
} 
.noviy-box p{
    position: relative;
    margin-bottom: 10px;
}
.noviy-box p::before{
    content: attr(content);
    position: absolute;
    border-bottom: black 1px solid;
    transition: 1s;
    height: 100%;
}
.noviy-box p:hover::before{
    height: 1%;
    filter: drop-shadow(0 0 5px blue);
    border-bottom: blue 1px solid;
}
.noviy:hover .fa-chevron-down{
    transform: scaleY(-1.3);
    transition: .5s;
}
.fa-chevron-down{
    transition: .5s;
}
.main-link p i{
    background: #DADADA;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    text-align: center;
    padding-top: 7px;
    font-size: 14px;
    padding-left: 2px;
    margin-right: 10px;
}














@media(max-width: 1160px){
    .container{
        width: 1040px;
    } 
    .nav-box1{
        margin-right: 100px;
    }
    .nav-box2{
        margin-left: 100px;
    }
}

@media(max-width: 1060px){
    .container{
        width: 940px;
    } 
}

@media(max-width: 960px){
    .container{
        width: 840px;
    } 
}

@media(max-width: 860px){
    .container{
        width: 740px;
    } 
    .nav-box1{
        margin-right: 0;
    }
    .nav-box2{
        margin-left: 0;
    }
}

@media(max-width: 760px){
    .container{
        width: 640px;
    } 
    .nav-box{
       display: none;
    }
}

@media(max-width: 660px){
    .container{
        width: 540px;
    } 
}

@media(max-width: 560px){
    .container{
        width: 440px;
    } 
}

@media(max-width: 460px){
    .container{
        width: 340px;
    } 
    .nav-box2 a{
        width: 110px;
        text-align: center;
    }
}

@media(max-width: 360px){
    .container{
        width: 240px;
    } 
}